@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400;1,700&display=swap");

/*********************************************
 * THEME OVERRIDES
 *********************************************/
:root {
  --r-background-color: #f3edda;
  --r-heading-color: #1d704f;
  --r-main-color: #1d704f;
  --r-link-color: #1d704f;
  --r-link-color-hover: #11402d;
  --r-heading-text-transform: none;
  --r-heading-font: Lato, Helvetica, sans-serif;
  --r-main-font: Lato, Helvetica, sans-serif;
  --r-main-font-size: 2.5rem;
  --r-heading3-size: 2rem;
}

.reveal,
.reveal section {
  height: 100vh;
  width: 100vw;
}

.reveal .slides {
  text-align: left;
}

.reveal a {
  text-decoration: underline;
}

.reveal img {
  object-fit: contain;
}

.reveal p {
  text-align: left;
}

.reveal pre code {
  max-height: none;
}

/*********************************************
 * UTILITIES
 *********************************************/
.visually-hidden {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: var(--r-link-color);
}

.reveal .controls .controls-arrow {
  height: 2.5rem;
  width: 2.5rem;
}
/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #11402d;
  height: 5px;
}
