@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*********************************************
 * THEME OVERRIDES
 *********************************************/
:root {
  --r-background-color: #f3edda;
  --r-heading-color: #1d704f;
  --r-main-color: #1d704f;
  --r-link-color: #1d704f;
  --r-link-color-hover: #11402d;
  --r-heading-text-transform: none;
  --r-heading-font: Atkinson Hyperlegible, Helvetica, sans-serif;
  --r-main-font: Atkinson Hyperlegible, Helvetica, sans-serif;
  --r-main-font-size: 2rem;
  --r-heading3-size: 2rem;
}

.reveal,
.reveal section {
  height: 100vh;
  width: 100vw;
}

.reveal .slides {
  text-align: left;
}

.reveal a {
  text-decoration: underline;
}

.reveal img {
  object-fit: contain;
}

.reveal p {
  text-align: left;
}

.reveal ul,
.reveal p {
  max-width: 60vw;
}

.reveal li:not(:last-child) {
  line-height: 2.5rem;
  padding-bottom: 1.25rem;
}

.reveal pre code {
  max-height: none;
}

.reveal hr {
  margin-block-start: 16px;
  margin-block-end: 16px;
  color: black;
  border-width: 2px;
  border-style: solid;
  transform: rotate(90deg);
}

/*********************************************
 * UTILITIES
 *********************************************/
.visually-hidden {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: var(--r-link-color);
}

.reveal .controls .controls-arrow {
  height: 2.5rem;
  width: 2.5rem;
}
/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #11402d;
  height: 5px;
}

/*********************************************
 * EXAMPLES
 *********************************************/

.button {
  display: flex;
  height: 2.5rem;
  touch-action: none;
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border-style: none;
  background-color: hsl(204 20% 100%);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.5rem;
  color: hsl(204 10% 10%);
  text-decoration-line: none;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(204 100% 40%);
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  height: fit-content;
  margin-bottom: 8px;
}

.button:hover {
  background-color: hsl(204 20% 96%);
}

.button[aria-disabled="true"] {
  opacity: 0.5;
}

.button[aria-expanded="true"] {
  background-color: hsl(204 20% 96%);
}

.button[data-focus-visible] {
  outline-style: solid;
}

.button:active,
.button[data-active] {
  transform: scale(0.98);
}

.button:active[aria-expanded="true"],
.button[data-active][aria-expanded="true"] {
  transform: scale(1);
}

:is(.dark .button) {
  background-color: hsl(204 20% 100% / 0.05);
  color: hsl(204 20% 100%);
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    inset 0 -1px 0 1px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

:is(.dark .button:hover) {
  background-color: hsl(204 20% 100% / 0.1);
}

:is(.dark .button)[aria-expanded="true"] {
  background-color: hsl(204 20% 100% / 0.1);
}

@media (min-width: 640px) {
  .button {
    gap: 0.5rem;
  }
}

.separator {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 0px;
  width: 100%;
  border-top-width: 1px;
  border-color: hsl(204 20% 88%);
}

:is(.dark .separator) {
  border-color: hsl(204 3% 28%);
}

.menu {
  position: relative;
  z-index: 50;
  display: flex;
  max-height: var(--popover-available-height);
  min-width: 180px;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: hsl(204 20% 100%);
  padding: 0.5rem;
  color: hsl(204 10% 10%);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  outline: none !important;
}

:is(.dark .menu) {
  border-color: hsl(204 3% 26%);
  background-color: hsl(204 3% 18%);
  color: hsl(204 20% 100%);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.25),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.menu-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
  font-size: 2rem;
}

.menu-item[aria-disabled="true"] {
  opacity: 0.25;
}

.menu-item[data-active-item] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

.menu-item:active,
.menu-item[data-active] {
  background-color: hsl(204 100% 32%);
}
